/* switch the default font for the body, and remove top/bottom/left/right margin */
body {
    font-family: 'Fresca', sans-serif;
    margin: 0;
}

/* font, color, and alignment for the titles of the three displayable regions */
h3 {
    background-color: #DDD;
    font-size: 24pt;
    font-weight: bold;
    height: 42px;
    text-align: center;
}

/* Make the button for adding a message hover in the top right */
#showFormButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* The main screen table should have some space to the left */
#messageList {
    margin-left: 15px;
}

/* The table should be wider than it absolutely needs to be */
table {
    width: 500px;
}

/* alternate color of table rows */
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #888}

/* make table row height a bit bigger than necessary */
tr {
    height: 15px;
}

/* make the first column of the table wide */
td:first-child {width: 75%;}

/* make the form elements wide, and force a line break after each */
input, label, textarea {
    display: block;
    width: 200px;
}

/* put some space between textareas and the buttons that follow them */
textarea {
    margin-bottom: 5px;
}

/* put some left space before form elements */
label, input, textarea, #addButton, #editButton {
    margin-left: 15px;
}

/* custom formatting for the span where we put the creation date */
#editCreated {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
}


